#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
#~~~~~         chronoscore          ~~~~~ 
#~~~~~                              ~~~~~ 
#~~~~~           XC7A100T             ~~~~~ 
#~~~~~     Start of Constraints     ~~~~~ 
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 


#~~~~~ Global Clocks ~~~~~~

NET "GCLK" LOC = E3  | IOSTANDARD = LVCMOS33 ;                                		# GCLK
#| TNM_NET = "clock";
#TIMESPEC "TS_clock"  = PERIOD "GCLK" 100 MHz HIGH 50 %;

#~~~~~ Global Inputs ~~~~~~

# ----- Switch -----
NET "START"     LOC = J15 | IOSTANDARD = LVCMOS33;                                	# SW0 - J15
NET "WAIT_t"    LOC = L16 | IOSTANDARD = LVCMOS33;                                	# SW1 - L16 
NET "TEST_HSLS" LOC = M13 | IOSTANDARD = LVCMOS33;                                	# SW2 - M13
NET "TESTVGA"   LOC = R15 | IOSTANDARD = LVCMOS33;                                	# SW3 - R15
NET "VGAONOFF"  LOC = R17 | IOSTANDARD = LVCMOS33;                                	# SW4 - R17


# ----- Push Button -----
NET "RESET"     LOC = C12 | IOSTANDARD = LVCMOS33;                                	# CPU RESET - C12

NET "BPV"       LOC = M18 | IOSTANDARD = LVCMOS33;                                	# BTNU - M18
NET "BPL"      LOC = P18 | IOSTANDARD = LVCMOS33;                                	# BTND - P18
NET "TEST"      LOC = N17 | IOSTANDARD = LVCMOS33;                                	# BTNC - N17
NET "BPreset"   LOC = M17 | IOSTANDARD = LVCMOS33;                                	# BTNR - M17


# ----- RS232 -----
#NET "RX_IN"    LOC = D4 | IOSTANDARD = LVCMOS33;                                	# RXD   (DB9)
#NET "RX_IN"    LOC = C4 | IOSTANDARD = LVCMOS33;                                	# RXD-A (J1 Header)
#NET "TX_OUT"   LOC = R13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;      	# TXD   (DB9)
#NET "TX_OUT"   LOC = T14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;      	# TXD-A (J1 Header)

#~~~~~ Global Outputs ~~~~~~

# ----- 7 segments -----
NET "AN<0>"     LOC = J17 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 0
NET "AN<1>"     LOC = J18 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 1
NET "AN<2>"     LOC = T9  | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 2
NET "AN<3>"     LOC = J14 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 3

NET "AN<4>"     LOC = P14 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 4
NET "AN<5>"     LOC = T14 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 5
NET "AN<6>"     LOC = K2  | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 6
NET "AN<7>"     LOC = U13 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Anode Control 7

NET "LEDS<0>"   LOC = T10 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# a  Digit
NET "LEDS<1>"   LOC = R10 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# b  Digit
NET "LEDS<2>"   LOC = K16 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# c  Digit
NET "LEDS<3>"   LOC = K13 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# d  Digit
NET "LEDS<4>"   LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# e  Digit
NET "LEDS<5>"   LOC = T11 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# f  Digit
NET "LEDS<6>"   LOC = L18 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# g  Digit
NET "LEDS<7>"   LOC = H15 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# dp Digit

# ----- VGA -----
NET "RED"       LOC = A4  | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Red    (VGA)
NET "GREEN"     LOC = A6  | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Green  (VGA)
NET "BLUE"      LOC = D8  | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# Blue   (VGA)
NET "HSYNCH"    LOC = B11 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;    	# HSynch (VGA)
NET "VSYNCH"    LOC = B12 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;     	# VSynch (VGA)





